<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"> </script>
    <title>Jessica's Burgers</title>
  </head>

  <body>
    <h1>Place Your Order</h1>

    <h2>Toppings</h2>

    <form action="order" id="order-form">
      
      {{#each ingredients}}
        <input class="checkbox" type="checkbox" price="{{price}}" id="{{_id}}"/><span>{{name}} - $ {{price}} </span> <br>
      {{/each}}
      <br>
      
      <input type="submit" name="order" value="Submit"> <br><br>
    </form>

    <div class="cost"> Total Cost: $ {{total}} </div>

  </body>
  <script type="text/javascript" src="/javascripts/order.js"> </script>

</html>